
.header {
  height: 100px;
    overflow: hidden;
    background-color: #499380;
    padding: 3px 3px ; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-image: url(/asset/Header.png);
    background-size: cover;

    }
.main-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: Roboto Slab;
    font-style: normal;
    font-size: 11px;
    }
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 17px;
  }
  #logo {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px;
  }
  img{
    max-width:200px;
    max-height:100px;
    width: auto;
    height: auto;
  }
  .header a.introduce {
    color: white;
    font-weight: bold;
  }
  .header a.product {
    color: white;
    font-weight: bold;
  }
  .header a.solution {
    color: white;
    font-weight: bold;
  }
  .header a.software {
    color: white;
    font-weight: bold;
  }
  .header a.contact {
    color: white;
    font-weight: bold;
  }
  .header a:hover {
    background-color: white;
    color: #05a070;
  }
  .header-right {
    float: right;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left; 
    }
    .header-right {
      float: none;
    }
    
  }
  